<!doctype HTML5>

<html lang = "en">
<head>
	<meta charset = "utf-8">
	<meta name = "Description" content = "Our First CSS">
	<meta name = "author" content = "SitePoint">
	<link rel = "stylesheet" type = "text/css" href = "css/style.css">
	<div id = "myNavBar">
	<ul>
  		<li><a href="about.asp">About</a></li>
  		<li><a href="contacts.asp">Contacts</a></li>
  		<li><a href="links.asp">Links</a></li>
  		<li><a href="mined minds.asp">Mined Minds ©</a></li>
	</ul>

	<div class="dropdown">
  		<div class="dropdown-content">
    		<a href = www.google.com>Google</a>
    		<a href="#">Mined Minds</a>
    		<a href="#">Stack Overflow</a> 
 	 	</div>
	</div>
	</div>
</head>
<body>
</body>
</html>