<!doctype HTML5>

<html lang = "en">
<head>
	<meta charset = "utf-8">
	<title>Our first CSS</title>
	<meta name = "Description" content = "Our First CSS">
	<meta name = "author" content = "SitePoint">
	<link rel = "stylesheet" type = "text/css" href = "css/style.css">
	<div id = "myNavBar">
	<ul>
  		<li><a href="about.asp">About</a></li>
  		<li><a href="contacts.asp">Contacts</a></li>
  		<li><a href="links.asp">Links</a></li>
	</ul>
	</div>
</head>

<body>
	<div id="ourFirstDiv">
	Hello World to our first CSS design
	<div id = "ourSecondDiv">
		<ul id = "ourList">
			<li> Item 1 </li>
			<li> Item 2 </li>
			<li> Item 3 </li>
		</ul>
	</div>
	</div>
</div>
<div id="dropdown">
  <button id="dropbtn">Dropdown</button>
  <div id="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
</body>
</html>